<div class="main users-edit">
  <div class="container">
    <h1 class="form-heading">アカウント編集</h1>
      <div class="form">
        <div class="form-body">
          <% @user.errors.full_messages.each do |message| %>
            <div class="form-error">
              <%= message %>
            </div>
          <% end %>
    <%= form_tag("/users/#{@user.id}/update", {multipart: true}) do %>
          <p>名前</p>
          <input name="name" value="<%= @user.name %>">
          <p>ユーザID</p>
          <input name="email" value="<%= @user.email %>">
          <p>パスワード</p>
          <input name="password" value="<%= @user.password %>" type="password">
          <p>プロフィール写真</p>
          <div class="file">
            <i class="fa fa-camera"></i>
            写真選択
            <input name="image" type="file"　value="<%= @user.image_name %>">
          </div>
          <input type="submit" value="保存">
        </div>
      </div>
    <% end %>

    <div class="return return-btn">
      <%= link_to("戻る", "/users/#{@current_user.id}") %>
    </div>

  </div>
</div>
