<div class="main users-new">
  <div class="container">
    <h1 class="form-heading">新規登録</h1>
      <div class="form users-form">
        <div class="form-body">
          <% @user.errors.full_messages.each do |message| %>
            <div class="form-error">
              <%= message %>
            </div>
          <% end %>

          <%= form_tag("/users/create") do %>
            <p>名前</p>
            <input name="name" value="<%= @user.name %>" placeholder="(例)瀬川翔">
            <p>ユーザID</p>
            <input name="email" value="<%= @user.email %>" placeholder="(例)segawasho">
            <p>パスワード</p>
            <input name="password" value="<%= @user.password %>" type="password" placeholder="">
            <input type="submit" value="新規登録">
          <% end %>
        </div>
      </div>
  </div>
</div>
