<div class="main posts-show">
  <div class="container">
    <div class="posts-show-item">
      <div class="post-user-name">
        <img src="<%= "/user_images/#{@user.image_name}" %>">
        <%= link_to(@user.name, "/users/#{@user.id}") %>
      </div>
      <p>
        <%= @post.content %>
      </p>
      <div class="post-time">
        <%= @post.created_at.strftime("%Y-%m-%d %H:%M") %>
      </div>

      <i class="fa fa-comment comment-btn"></i>

      <div class="comments-count">
        <%= @comments_count %>
      </div>

      <% if Like.find_by(user_id: @current_user.id, post_id: @post.id) %>
        <%= link_to("/likes/#{@post.id}/destroy", {method: "post"}) do %>
          <span class="fa fa-heart like-btn-unlike"></span>
        <% end %>
      <% else %>
        <%= link_to("/likes/#{@post.id}/create", {method: "post"}) do %>
          <span class="fa fa-heart like-btn"></span>
        <% end %>
      <% end %>

      <div class="likes-count">
        <%= @likes_count %>
      </div>

      <%= link_to("/posts/#{@post.id}/retweetnew") do %>
        <i class="fa fa-retweet retweet-btn"></i>
      <% end %>

      <% if @post.user_id == @current_user.id %>
        <div class="post-menus">
          <%= link_to("編集", "/posts/#{@post.id}/edit") %>
          <%= link_to("削除", "/posts/#{@post.id}/destroy", {method: "post"}) %>
        </div>
      <% end %>
    </div>





    <div class="form comment-form">
      <div class="form-body">

        <%= form_tag("/comments/#{params[:id]}/create") do %>
        <div class="comment-item">
          <textarea name="content"><%= "@" + @post.user.name + "   " %></textarea>
          <input type="submit" value="コメントする">
        </div>
        <% end %>

      </div>
    </div>

    <div class="comment-index">

        <% if @comments %>
          <% @comments.each do |comment| %>

          <div class="form">
            <div class="form-body">

              <div class="post-left">
                <img src="<%= "/user_images/#{comment.user.image_name}" %>">
              </div>
              <div class="post-right">
                <div class="comment-user-name">
                  <%= comment.user.name %>
                </div>
                <p><%= comment.content %></p>
                <div class="post-time">
                  <%= comment.created_at.strftime("%Y-%m-%d %H:%M") %>
                </div>
              </div>


              <% if comment.user_id == @current_user.id %>
                <div class="comment-menus">
                  <%= link_to("削除","/comments/#{comment.id}/destroy", {method: "post"}) %>
                </div>
              <% end %>

            </div>
          </div>

          <% end %>
        <% end %>

      </div>

      <%= paginate @comments %>



      <div class="return return-btn">
        <%= link_to("戻る", "/posts/index") %>
      </div>

  </div>
</div>
