<!DOCTYPE html>
<html>
  <head>
    <title>SegatterApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>

  <body>

    <header>

      <div class="header-logo">
        <%= link_to("Segatter", "/") %>
      </div>

      <div class="header-verinfo">
        <%= link_to("Ver.情報", "/verinfo") %>
      </div>

      <div class="header-menus">

        <div id="header-list">

          <ul>
            <% if @current_user %>

              <li>
                <%= link_to("プロフィール", "/users/#{@current_user.id}") %>
              </li>

              <li>
                <%= link_to("タイムライン", "/posts/index") %>
              </li>

              <li>
                <%= link_to("新規投稿", "/posts/new") %>
              </li>

              <li>
                <%= link_to("ユーザ一覧", "/users/index") %>
              </li>

              <li>
                <%= link_to("ログアウト", "/logout", {method: "post"}) %>
              </li>

            <% else %>

              <li>
                <%= link_to("Segatterとは", "/about") %>
              </li>


              <li>
                <%= link_to("新規登録", "/signup") %>
              </li>

              <li>
                <%= link_to("ログイン", "/login") %>
              </li>

              <% end %>
            </ul>

        </div>

        <div id="nav-drawer">
            <input id="nav-input" type="checkbox" class="nav-unshown">
            <label id="nav-open" for="nav-input"><i class="fa fa-bars"></i></label>
            <label class="nav-unshown" id="nav-close" for="nav-input"></label>
            <div id="nav-content">

              <h3 class="drawer-menus">Menus</h3>

              <ul>
                <% if @current_user %>

                  <li>
                    <%= link_to("プロフィール", "/users/#{@current_user.id}") %>
                  </li>

                  <li>
                    <%= link_to("投稿一覧", "/posts/index") %>
                  </li>

                  <li>
                    <%= link_to("新規投稿", "/posts/new") %>
                  </li>

                  <li>
                    <%= link_to("ユーザ一覧", "/users/index") %>
                  </li>

                  <li>
                    <%= link_to("ログアウト", "/logout", {method: "post"}) %>
                  </li>

                <% else %>

                  <li>
                    <%= link_to("Segatterとは", "/about") %>
                  </li>


                  <li>
                    <%= link_to("新規登録", "/signup") %>
                  </li>

                  <li>
                    <%= link_to("ログイン", "/login") %>
                  </li>

                <% end %>
              </ul>


            </div>
        </div>


      </div>


    </header>

      <% if flash[:notice] %>
        <div class="flash">
          <%= flash[:notice] %>
        </div>
      <% end %>




    <%= yield %>
  </body>
</html>
